@import "tailwindcss";

@font-face {
  font-family: "Roobert";
  src: url("./assets/Roobert-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-sans: Roobert, sans-serif;

  --color-prune-50: #fbf6fd;
  --color-prune-100: #f6edfa;
  --color-prune-200: #eedaf4;
  --color-prune-300: #e1bdea;
  --color-prune-400: #cf96dc;
  --color-prune-500: #b86cc9;
  --color-prune-600: #9d4dac;
  --color-prune-700: #833d8e;
  --color-prune-800: #6d3375;
  --color-prune-900: #5b2e61;
  --color-prune-950: #351339;
}

.redact {
  position: relative;
  color: transparent;
}
.redact::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  color: white;
  content: "・";
}
